{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "es6": true
  },
  "settings": {
    "react": {
      "version": "16.8.2"
    }
  },
  "plugins": ["react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "react-hooks/rules-of-hooks": "error",
    "react/no-did-update-set-state": 0
  }
}
