{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true,
    "commonjs": true
  },
  "plugins": ["react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "sleep": true,
    "prettyFormat": true
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "react-hooks/rules-of-hooks": "error",
    "react/no-did-update-set-state": 0,
    "jsx-quotes":"off"
  }
}
