*~
*.swp
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log*
package-lock.json
lib/
esm/
temp_esm/
dist/
build/
coverage/
node_modules/
examples/test
.idea/
.vscode/
TODO.md
tsconfig.tsbuildinfo
package/
package.zip