*~
*.swp
.DS_Store
.tea
npm-debug.log
lerna-debug.log
npm-debug.log*
package-lock.json
lib/
esm/
temp_esm/
dist/
type-artefacts/
build/
coverage/
node_modules/
examples/test
.idea/
TODO.md
tsconfig.tsbuildinfo
package/
package.zip
.umi
.umi-production
.cjsescache
doc-site
.lerna-changelog
.history
.lint-report.log
