sudo: required

language: node_js

before_install:
  - npm i -g npm@6

node_js:
  - "8"
  - "11"

before_script:
  - lerna clean --yes
  - lerna bootstrap --no-ci

script:
  - npm run lint
  - npm run build
  - npm run test:prod