@import '~@alifd/next/lib/core/index-noreset.scss';

$array-base-prefix-cls: '#{$css-prefix}formily-array-base';

.#{$array-base-prefix-cls}-remove,
.#{$array-base-prefix-cls}-copy {
  transition: all 0.25s ease-in-out;
  color: $color-text1-3;
  font-size: 16px;

  &:hover {
    color: $color-text1-1;
  }

  &-disabled {
    color: $color-text1-1;
    cursor: not-allowed !important;
    &:hover {
      color: $color-text1-1;
    }
  }

  .#{$css-prefix}formily-icon {
    font-size: 16px;
  }
}

.#{$array-base-prefix-cls}-addition {
  transition: all 0.25s ease-in-out;
}

.#{$array-base-prefix-cls}-move-down {
  transition: all 0.25s ease-in-out;
  color: $color-text1-3;
  font-size: 16px;

  &:hover {
    color: $color-text1-1;
  }

  &-disabled {
    color: $color-text1-1;
    cursor: not-allowed !important;
    &:hover {
      color: $color-text1-1;
    }
  }

  .#{$css-prefix}formily-icon {
    font-size: 16px;
  }
}

.#{$array-base-prefix-cls}-move-up {
  transition: all 0.25s ease-in-out;
  color: $color-text1-3;
  font-size: 16px;

  &:hover {
    color: $color-text1-1;
  }

  &-disabled {
    color: $color-text1-1;
    cursor: not-allowed !important;
    &:hover {
      color: $color-text1-1;
    }
  }

  .#{$css-prefix}formily-icon {
    font-size: 16px;
  }
}

.#{$array-base-prefix-cls}-sort-handle {
  cursor: move;
  color: #888 !important;
}
