@import '~antd/lib/style/themes/default.less';

@array-base-prefix-cls: ~'@{ant-prefix}-formily-array-base';


.@{array-base-prefix-cls}-remove {
  transition: all .25s ease-in-out;
  color: @text-color;
  font-size: 16px;
  &:hover {
    color: @primary-5;
  }
}

.@{array-base-prefix-cls}-handle {
  cursor: move;
  color: #888 !important;
}

.@{array-base-prefix-cls}-addition {
  transition: all .25s ease-in-out;
}

.@{array-base-prefix-cls}-move-down {
  transition: all .25s ease-in-out;
  color: @text-color;
  font-size: 16px;
  margin-left: 6px;

  &:hover {
    color: @primary-5;
  }
}

.@{array-base-prefix-cls}-move-up {
  transition: all .25s ease-in-out;
  color: @text-color;
  font-size: 16px;
  margin-left: 6px;

  &:hover {
    color: @primary-5;
  }
}