@import '~@alifd/next/lib/core/index-noreset.scss';
@import '~@alifd/next/lib/form/scss/variable.scss';

$array-table-prefix-cls: '#{$css-prefix}formily-array-table';

.#{$array-table-prefix-cls} {
  .#{$array-table-prefix-cls}-pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .#{$array-table-prefix-cls}-status-select {
      min-width: 60px;
      margin-right: 6px;
      width: auto !important;

      .#{$css-prefix}input {
        min-width: 60px;
      }

      &.has-error {
        .#{$css-prefix}input {
          border-color: red !important;
        }
      }
    }
  }

  .#{$css-prefix}table {
    .#{$css-prefix}table-cell-wrapper {
      overflow: visible;
      word-break: normal;
    }

    td {
      visibility: visible;

      .#{$css-prefix}formily-item:not(.#{$css-prefix}formily-item-feedback-layout-popover) {
        margin-bottom: 0 !important;
        position: relative;

        .#{$css-prefix}formily-item-help {
          min-width: 30px;
          position: absolute;
          font-size: 12px;
          top: 100%;
          width: 100%;
          z-index: 1;
          border-radius: 3px;
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
            0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          background-color: $form-error-color;
          color: #fff;
          padding: 6px 8px;
          margin-top: 6px;

          &:after {
            content: ' ';
            background: $form-error-color;
            position: absolute;
            display: block;
            width: 5px;
            height: 5px;
            pointer-events: none;
            top: -2px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            box-sizing: content-box !important;
            border: 1px solid transparent;
            z-index: -1;
          }
        }
      }
    }
  }

  .#{$array-table-prefix-cls}-sort-helper {
    background: #fff;
    border: 1px solid #eee;
    z-index: 10;
  }
}
