<!DOCTYPE html>
<head>
  <title>
    Designable Playground
  </title>
  <style>
    html,body{
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
</head>
<body>
  <div id="root">
  </div>
  <script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
  <script src="https://unpkg.com/react/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/antd/dist/antd-with-locales.js"></script>
</body>