<!DOCTYPE html>
<head>
  <title>
    Designable Playground
  </title>
</head>
<body>
  <div id="root">
  </div>
  <script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
  <script src="https://unpkg.com/react/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/antd/dist/antd-with-locales.min.js"></script>
  <script src="https://unpkg.com/@formily/reactive/dist/formily.reactive.umd.development.js"></script>
</body>