@import '~@alifd/next/lib/core/index-noreset.scss';

$form-text-prefix-cls: '#{$css-prefix}form-text';

.#{$form-text-prefix-cls} {
  font-size: 14px;
  font-weight: 400;

  .#{$css-prefix}tag {
    margin-right: 4px;
  }

  .#{$css-prefix}tag:last-child {
    margin-right: 0;
  }
}
