@charset "UTF-8";
/* write style here */
.schema-editor {
  padding: 20px;
  /* 操作区 */
  /* 编辑区 */ }
  .schema-editor .schema-menus {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #eee; }
    .schema-editor .schema-menus .schema-preview-btn {
      float: right; }
    .schema-editor .schema-menus .select-component-type {
      margin-left: 200px; }
  .schema-editor .splitter {
    border-right: 1px dashed #aaa; }
  .schema-editor .schema-editor-main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    min-height: 600px;
    /* 树形编辑 */
    /* 代码编辑 */ }
    .schema-editor .schema-editor-main .schema-tree {
      float: left;
      width: 300px; }
    .schema-editor .schema-editor-main .schema-tabs {
      flex: 1; }
    .schema-editor .schema-editor-main .schema-code {
      position: absolute;
      right: 0; }
  .schema-editor .field-editor .field-group-title {
    margin-top: 15px;
    font-size: 16px; }
  .schema-editor .field-editor .field-group-content {
    display: flex;
    align-items: flex-start; }
    .schema-editor .field-editor .field-group-content .field-group-form-item {
      width: 20%;
      margin-right: 0;
      padding-right: 10px; }
  .schema-editor .field-editor-holder {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-top: 10px;
    border: 1px dashed #eee;
    text-align: center; }
  .schema-editor .ant-legacy-form-item-control-wrapper, .schema-editor .ant-legacy-form-item-label {
    display: block !important;
    padding: 0; }
