/* write style here */
.schema-editor {
  padding: 20px;

  /* 操作区 */
  .schema-menus {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #eee;

    .schema-preview-btn {
      float: right;
    }

    .select-component-type {
      margin-left: 200px;
    }
  }

  .splitter {
    border-right: 1px dashed #aaa;
  }

  /* 编辑区 */
  .schema-editor-main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    min-height: 600px;

    /* 树形编辑 */
    .schema-tree {
      float: left;
      width: 300px;
    }

    .schema-tabs {
      flex: 1;
    }

    /* 代码编辑 */
    .schema-code {
      position: absolute;
      right: 0;
    }
  }

  .field-editor {
    .field-group-title{
      margin-top: 15px;
      font-size: 16px;
    }
    .field-group-content{
      display: flex;
      align-items: flex-start;
      .field-group-form-item{
        width: 20%;
        margin-right: 0;
        padding-right: 10px;
        // &.auto-complete {
        //   .ant-legacy-form-item-control{
        //     margin-top: -4px;
        //   }
        // } 
      }
    }
  }

  .field-editor-holder{
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-top: 10px;
    border: 1px dashed #eee;
    text-align: center;
  }

  .ant-legacy-form-item-control-wrapper, .ant-legacy-form-item-label{
    display: block!important;
    padding: 0;
  }

}
