<!DOCTYPE html>

<head>
  <title>
    Formily Devtools
  </title>
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background: #101114;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #494e5f;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <div id="root">
  </div>
</body>