@import '~antd/lib/style/themes/default.less';

.ant-array-cards-remove {
  transition: all .25s ease-in-out;
  color: @text-color;
  font-size: 16px;
  margin-left: 6px;
  &:hover {
    color: @primary-5;
  }
}

.ant-array-cards-addition {
  transition: all .25s ease-in-out;
}


.ant-array-cards-move-down {
  transition: all .25s ease-in-out;
  color: @text-color;
  font-size: 16px;
  margin-left: 6px;
  &:hover {
    color: @primary-5;
  }
}

.ant-array-cards-move-up {
  transition: all .25s ease-in-out;
  color: @text-color;
  font-size: 16px;
  margin-left: 6px;
  &:hover {
    color: @primary-5;
  }
}


.ant-array-cards-item {
  margin-bottom: 10px !important;
}