@import '~@alifd/next/lib/core/index-noreset.scss';

$array-items-prefix-cls: '#{$css-prefix}formily-array-items';

.#{$array-items-prefix-cls} {
  .#{$css-prefix}form-item {
    margin-bottom: 0;
  }
}

// fix https://github.com/alibaba/formily/issues/2891
.#{$array-items-prefix-cls}-item {
  z-index: 100000;
}

.#{$array-items-prefix-cls}-sort-handler {
  cursor: move;
  color: #888 !important;
}

.#{$array-items-prefix-cls}-item-inner {
  margin-bottom: 10px;
  visibility: visible;
}

.#{$array-items-prefix-cls}-card {
  display: flex;
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 3px 6px;
  background: #fff;
  justify-content: space-between;
  align-items: center;

  transition: all 0.35s;

  .#{$css-prefix}formily-item:not(.#{$css-prefix}formily-item-feedback-layout-popover) {
    margin-bottom: 0 !important;
    position: relative;

    .#{$css-prefix}formily-item-help {
      position: absolute;
      font-size: 12px;
      top: 100%;
      background: #fff;
      width: 100%;
      margin-top: 3px;
      padding: 3px;
      z-index: 1;
      border-radius: 3px;
      box-shadow: 0 0 10px #eee;
    }
  }
}

.#{$array-items-prefix-cls}-divide {
  display: flex;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding: 10px 0;
  background: #fff;
  justify-content: space-between;
  align-items: center;

  .#{$css-prefix}formily-item:not(.#{$css-prefix}formily-item-feedback-layout-popover) {
    margin-bottom: 0 !important;
    position: relative;

    .#{$css-prefix}formily-item-help {
      position: absolute;
      font-size: 12px;
      top: 100%;
      background: #fff;
      width: 100%;
      margin-top: 3px;
      padding: 3px;
      z-index: 1;
      border-radius: 3px;
      box-shadow: 0 0 10px #eee;
    }
  }
}
